<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  #if ($pageTitle)
    <title>$pageTitle</title>
  #end
  <meta name="viewport" content="width=device-width">
  #parse ($headTemplate)
  <script src="$hostScriptUrl"></script>
  <script>RA.init();</script>
</head>
<body>
  $bodyHtml
  #parse ($tailTemplate)
</body>
</html>
