<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@app_name@</title>
    <link rel="stylesheet" href="{{hostStylesheetUrl}}">
    <script src="{{hostScriptUrl}}"></script>
    <script>RA.init();</script>
  </head>
  <body>
    <h2>{{message}}</h2>
  </body>
</html>
